<!DOCTYPE html>
<html ng-app="hieApp">
<head>
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .container {
            max-width: 1000px;
        }
    </style>
</head>
<body ng-controller="HieController">
<h1>CommCare -> OpenHIE Connect</h1>

<div class="row">
    <div class="col-md-6">
        <form class="form-inline">
            <div class="form-group">
                <label for="case" class="col-sm-2 control-label">Case</label>

                <div class="col-sm-10">
                    <input id="case" type="text" class="form-control" ng-model="case"/>
                </div>
            </div>
            <div class="form-group">
                <label for="case" class="col-sm-2 control-label">User</label>

                <div class="col-sm-10">
                    <input id="user" type="text" class="form-control" ng-model="user"/>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="getRecords()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="resetSearch()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <nav>
            <ul class="pager">
                <li ng-class="{disabled: currentPage === 0}"><a href="#" ng-click="previousPage()">Previous</a></li>
                <li>{{ start }} to {{ end }} of {{ total }}</li>
                <li ng-class="{disabled: disableNext}"><a href="#" ng-click="nextPage()">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Case</th>
                <th>User</th>
                <th>Response Code</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="record in records" data-toggle="collapse" data-target="#details{{ record.id }}"
                class="accordion-toggle" ng-class="{success: record.response_code === 200, warning: record.response_code !== 200}">
                <td>{{ record.id }}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.case_id }}</td>
                <td>{{ record.user_id }}</td>
                <td>{{ record.response_code }}</td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="5">
                    <div class="collapse out" id="details{{ record.id }}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Response Text</th>
                                <th>Case</th>
                                <th>MHD</th>
                                <th>CDA</th>
                                <th>Error</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <pre>{{ record.response_text }}</pre>
                                </td>
                                <td>
                                    <pre>{{ record.case }}</pre>
                                </td>
                                <td>
                                    <pre>{{ record.mhd }}</pre>
                                </td>
                                <td>
                                    <pre>{{ record.cda }}</pre>
                                </td>
                                <td>
                                    <pre>{{ record.error }}</pre>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<script src="static/hie.js"></script>
</body>
</html>